/* css reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Modify CSS below here */
.buttons {
  display: flex;
  flex-direction: row;
}
.container {
  background-color: brown;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 50px auto;
}
.display {
  background-color: whitesmoke;
  height: 90px;
  border: 4px solid black;
}
.numbers {
  background-color: beige;
  flex: 3;
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  border-bottom: 4px solid black;
  border-left: 4px solid black;
}
.numbers > div {
  background-color: rgb(136, 187, 212, 25%);
  width: 90px;
  height: 90px;
  border: 2px solid black;
  border-radius: 50%;
  text-align: center;
  font-size: 2.5rem;
  padding-top: 14px;
  margin: 5px 0;
}

.operators {
  background-color: beige;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  align-content: space-evenly;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
}

#ac,
#pow,
#factorial,
.operators > div {
  background-color: rgb(136, 187, 212, 75%);
  width: 80px;
  height: 80px;
  border: 2px solid black;
  border-radius: 35%;
  font-size: 2.5rem;
  margin: 5px 0;
  padding-top: 5px;
}

#ac,
#pow,
#factorial {
  margin: 5px 6px;
}
