/* css reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Modify CSS below here */

.share-tech-mono-regular {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.buttons {
  display: flex;
  flex-direction: row;
  background-color: beige;
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  padding: 10px 0;
}

.buttons > div {
  background-color: rgb(136, 187, 212, 25%);
  width: 90px;
  height: 90px;
  border: 2px solid black;
  border-radius: 10%;
  text-align: center;
  font-size: 2.5rem;
  padding-top: 14px;
}

.container {
  background-color: brown;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 50px auto;
}

.display {
  background-color: whitesmoke;
  height: 90px;
  border: 4px solid black;
  font-size: 3.5rem;
  text-align: end;
  padding-right: 10px;
}

#equals {
  flex: 2;
  border-radius: 8%;
  margin-right: 8px;
  background-color: rgba(77, 233, 82, 50%);
}

#delete {
  margin-left: 8px;
  background-color: rgba(222, 108, 184, 50%);
}

#clear {
  background-color: rgba(222, 108, 184, 50%);
}

#divide,
#multiply,
#add,
#subtract {
  background-color: rgb(136, 187, 212, 70%);
}
